body 
{

}

Table.Ts1
{
    vertical-align: bottom;
	white-space: nowrap;
    text-align: left;
	width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    align: center;
    cellpadding: 0;
    cellspacing: 0;
    font-style: normal;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
}
.xl_category
{
	text-align: center;
	font-weight:bold;
}

.xl24
{
    VERTICAL-ALIGN: top;
    border: 1px #b5b5b5 solid;
    border-left: none;
    border-right: none;
    COLOR: white;
    FONT-WEIGHT: bold;
    BACKGROUND-COLOR: #2a4b96;
    TEXT-ALIGN: left;
    PADDING-LEFT: 2px;
}

.xl24lightgrey
{
    font-size: 80%;
    border-color: Red;
    BORDER-RIGHT: #b5b5b5 0px solid;
    BORDER-TOP: #b5b5b5 1px solid;
    VERTICAL-ALIGN: top;
    BORDER-LEFT: #b5b5b5 0pt solid;
    COLOR: black;
    BORDER-BOTTOM: #b5b5b5 1px solid;
    BACKGROUND-COLOR: #b7b7b7;
    TEXT-ALIGN: left;
    FONT-WEIGHT: bold;
    PADDING-LEFT: 2px;
    width: auto;
}
.xl24lightgreyl
{
    font-size: 80%;
    BORDER-RIGHT: #b5b5b5 0px solid;
    BORDER-TOP: #b5b5b5 1px solid;
    VERTICAL-ALIGN: top;
    BORDER-LEFT: #b5b5b5 1px solid;
    COLOR: black;
    BORDER-BOTTOM: #b5b5b5 1px solid;
    BACKGROUND-COLOR: #b7b7b7;
    TEXT-ALIGN: left;
    FONT-WEIGHT: bold;
    PADDING-LEFT: 2px;
    width: 30%;
}
.xl25zb
{
	font-size: 80%;
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    VERTICAL-ALIGN: top;
    BORDER-LEFT: medium none;
    BORDER-BOTTOM: #b5b5b5 0px solid;
    FONT-FAMILY: Verdana, sans-serif;
    BACKGROUND-COLOR: white;
    TEXT-ALIGN: left;
    PADDING-LEFT: 2px;
}
.xl25zbl
{
	font-size: 80%;
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    VERTICAL-ALIGN: top;
    BORDER-LEFT: #b5b5b5 1px solid;
    BORDER-BOTTOM: #b5b5b5 0px solid;
    BACKGROUND-COLOR: white;
    TEXT-ALIGN: left;
    PADDING-LEFT: 2px;
}
.xl25
{
	font-size: 80%;
	VERTICAL-ALIGN: central;
    BORDER-RIGHT: #b5b5b5 1px solid;
    BORDER-TOP: medium none;
    BORDER-LEFT: #b5b5b5 1px solid;
    BORDER-BOTTOM: medium none;
    BACKGROUND-COLOR: white;
    TEXT-ALIGN: left;
    PADDING-LEFT: 2px;
}

.xl25t
{
	
    BORDER-RIGHT: #b5b5b5 1px solid;
    BORDER-TOP: medium none;
    BORDER-LEFT: #b5b5b5 1px solid;
    BORDER-BOTTOM: windowtext 3px solid;
}
.xl25g
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    VERTICAL-ALIGN: bottom;
    BORDER-LEFT: medium none;
    BORDER-BOTTOM: medium none;
    WHITE-SPACE: nowrap;
    TEXT-ALIGN: right;
	
    BORDER-RIGHT: windowtext 0.5pt solid;
    BORDER-TOP: medium none;
    FONT-WEIGHT: bold;
    VERTICAL-ALIGN: top;
    BORDER-LEFT: windowtext 0.5pt solid;
    COLOR: green;
    BORDER-BOTTOM: medium none;
    FONT-FAMILY: Verdana, sans-serif;
    BACKGROUND-COLOR: white;
    TEXT-ALIGN: left;
}
.xl25grey
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    VERTICAL-ALIGN: bottom;
    BORDER-LEFT: medium none;
    BORDER-BOTTOM: medium none;
    WHITE-SPACE: nowrap;
    TEXT-ALIGN: right;
	
    BORDER-RIGHT: windowtext 0.5pt solid;
    BORDER-TOP: medium none;
    FONT-WEIGHT: normal;
    VERTICAL-ALIGN: top;
    BORDER-LEFT: windowtext 0.5pt solid;
    COLOR: gray;
    BORDER-BOTTOM: medium none;
    FONT-FAMILY: Verdana, sans-serif;
    BACKGROUND-COLOR: white;
    TEXT-ALIGN: left;
}
.xl25r
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    VERTICAL-ALIGN: bottom;
    BORDER-LEFT: medium none;
    BORDER-BOTTOM: medium none;
    WHITE-SPACE: nowrap;
    TEXT-ALIGN: right;
	
    BORDER-RIGHT: windowtext 0.5pt solid;
    BORDER-TOP: medium none;
    VERTICAL-ALIGN: top;
    BORDER-LEFT: windowtext 0.5pt solid;
    COLOR: red;
    BORDER-BOTTOM: medium none;
    FONT-FAMILY: Verdana, sans-serif;
    BACKGROUND-COLOR: white;
    TEXT-ALIGN: left;
    PADDING-LEFT: 2px;
}
.xl25b
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    VERTICAL-ALIGN: bottom;
    BORDER-LEFT: medium none;
    BORDER-BOTTOM: medium none;
    WHITE-SPACE: nowrap;
    TEXT-ALIGN: right;
	
    BORDER-RIGHT: windowtext 0.5pt solid;
    BORDER-TOP: medium none;
    VERTICAL-ALIGN: top;
    BORDER-LEFT: windowtext 0.5pt solid;
    COLOR: blue;
    BORDER-BOTTOM: medium none;
    FONT-FAMILY: Verdana, sans-serif;
    BACKGROUND-COLOR: white;
    TEXT-ALIGN: left;
    PADDING-LEFT: 2px;
}
.xl26
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    VERTICAL-ALIGN: bottom;
    BORDER-LEFT: medium none;
    BORDER-BOTTOM: medium none;
    WHITE-SPACE: nowrap;
    TEXT-ALIGN: right;

    BORDER-RIGHT: windowtext 0.5pt solid;
    BORDER-TOP: medium none;
    FONT-WEIGHT: bold;
    VERTICAL-ALIGN: top;
    BORDER-LEFT: windowtext 0.5pt solid;
    BORDER-BOTTOM: medium none;
    FONT-FAMILY: Verdana, sans-serif;
    BACKGROUND-COLOR: white;
    TEXT-ALIGN: left;
    PADDING-LEFT: 2px;
}
.xl26r
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    VERTICAL-ALIGN: bottom;
    BORDER-LEFT: medium none;
    BORDER-BOTTOM: medium none;
    WHITE-SPACE: nowrap;
    TEXT-ALIGN: right;

    BORDER-RIGHT: windowtext 0.5pt solid;
    BORDER-TOP: medium none;
    FONT-WEIGHT: bold;
    VERTICAL-ALIGN: top;
    BORDER-LEFT: windowtext 0.5pt solid;
    COLOR: red;
    BORDER-BOTTOM: medium none;
    FONT-FAMILY: Verdana, sans-serif;
    BACKGROUND-COLOR: white;
    TEXT-ALIGN: left;
    PADDING-LEFT: 2px;
}
.xl27
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    VERTICAL-ALIGN: bottom;
    BORDER-LEFT: medium none;
    BORDER-BOTTOM: medium none;
    WHITE-SPACE: nowrap;
    TEXT-ALIGN: right;

    BORDER-RIGHT: medium none;
    BORDER-TOP: windowtext 0.5pt solid;
    VERTICAL-ALIGN: top;
    BORDER-LEFT: medium none;
    BORDER-BOTTOM: medium none;
    FONT-FAMILY: Verdana, sans-serif;
    BACKGROUND-COLOR: white;
    TEXT-ALIGN: left;
}
