.table100 {
	width: 100%;
	border-spacing: 0px;
}

.labelDiv {
	margin-right: 25px;
	line-height: .9em;
}

.tdInput {
	width: 50%;
}

.inputDiv {
	margin-right: 20px;
}

.inputValue {
	height: 100%;
	width: 100%;
	border-width: 0px;
	background: white;
	text-align: left;
	-webkit-appearance: none;
	background: none;
	font-size: 1.0em;
	padding-left: 10px;
	position: relative;
	border-width: 1px;
	border-style: inset;
	font-family: Helvetica;
	font-size: 14px;
	border-color: #9cacc0;
	border-radius: 5px;
}

.labelInputDiv {

}

input.inputValue:focus {
	border-width: 2px;
	border-style: solid;
	border-radius: 5px;
	-moz-box-shadow: inset 0px 0px 5px 		#f4ebad, 0px 0px 9px 		#e8e07b;
	-webkit-box-shadow: inset 0px 0px 5px 	#f4ebad, 0px 0px 9px 		#e8e07b;
	box-shadow: inset 0px 0px 5px 			#f4ebad, 0px 0px 9px 		#e8e07b;
}

.wm-disableElement {
	pointer-events: none;
	cursor: default;
}

.wm-shortHeadLabel {
	
}

.wm-returnBtn {
	
}

.wm-exitBtn {
	
}

.wm-nextBtn {
	
}

/*@media screen and (max-width : 640px)
{

	input#username
	{
		background: red;
	}
}


@media screen and (max-width : 480px)
{

	input#username
	{
		background: green;
	}
}

@media screen and (max-width : 320px)
{

	input#username
	{
		background: yellow;
	}
}*/

/* Фиктивные медиа запросы. Без них не вызываются enquire-обработчики для iPad. Не разобрался почему. */
@media screen and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait)
{
	table.Ts1 { width: 100%; }
}

@media screen and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape)
{
	table.Ts1 { width: 100%; }
}

@media screen and (device-width: 1536px) and (device-height: 2048px) and (orientation:portrait)
{
	table.Ts1 { width: 100%; }
}

@media screen and (device-width: 1536px) and (device-height: 2048px) and (orientation:landscape)
{
	table.Ts1 { width: 100%; }
}